.App {
    min-height: 100vh;
    background-color: rgb(171, 217, 209);

}


.multiple-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-form {
    width: 49%;
    margin-top: 15px;
}

.last-form {
    width: 49%;
    margin-top: 15px;
}

.next-button {
    display: flex;
}